body {
	margin:0;
	padding:0;
}

.section-header {
	margin-top:40px;
}

section {
	margin-top:20px;
}

footer {
	text-align:center;				
	margin-top:20px;
	border-top:solid 3px black;
}			

.footer-inner {
	padding:20px;
}
			
#inner, .footer-inner {
	display:block;
	position: relative;
	margin:auto;
	max-width:1000px;
}

time {
	font-weight:bold;
}

ul {
    list-style-type: none;
}