body {
	background-image:url(img/zamecek_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size:100%;
}

#inner {
	padding:5px;
}

header #date {
	font-size:150%;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

/* BANDS */

.band {
	margin:20px 0 2px 0;
	padding:0px;
	display:block;
} 	

.band .band-section {
	padding:0;
}

.band img {	
	margin:0;
}