@font-face {
	font-family: coolvetica;
	src: url('../fonts/coolvetica.eot');
	src: local('☺'), url('../fonts/coolvetica.woff') format('woff'), url('../fonts/coolvetica.ttf') format('truetype'), url('../fonts/coolvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	
}

h1 {
	font-size:30px;
}

h2 {
	font-size:25px;
}

.region-sidebar-second h2 {
	margin-top:0;
}

.page-header {	
	margin-bottom:10px;
}

@media (min-width: 768px) {
	.main-container {
		padding-left: 40px;
	}
	
	#block-festivalzamecek-main-menu {
		float:right;
	}
}

.content p {
	text-indent:25px;
}

.cool {
	font-family: coolvetica, Arial Heavy, Arial, sans-serif;
	color:#8e007e;
	letter-spacing: 0.5px;	
}

#cool {
	color:#8e007e;
	padding:0;
	line-height:62px;
	font-size:200%;
	margin-left:10px;
}

#festival-date {
	float:left;
	margin-left:15px;
}

#block-festivalzamecek-footer li {
	float:left;
}

.field--name-field-image {
	padding:0px;
}

.field--name-field-image img {
	padding:15px;
	border:solid 1px #ddd;
	border-radius:4px;
}

.green {
	color:#85cfbe;
}

.pink {
	color: #c58dbe;
}

.light {
	color:#96b3c5;
}

.orange {
	color:#f78f1e;
}

a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
	outline:0;
}

.offcanvas-lining {
    background: #fff;
}

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}