<IfModule mod_rewrite.c>
    RewriteEngine On
		
    # Handle Front Page...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) /piwigo/$1 [L,QSA]
</IfModule>