html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: white;
	background-color: white;
	text-align: center;
}

#content {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url(poster-resized.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
