body {
	font-size: 100%;
}

#wrapper {
	background-size: contain;
}

.inner {
	padding: 15px;
}

header {
	padding: 0;
}

header #date {
	font-size: 150%;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

/* PROGRAM */
#program ul {
	padding-left: 0;
}

#program ul li {
	display: block;
}

#program time {
	display: block;
	width: auto;
}

#program .band-details {
	display: block;
}

#program .band-name {
	display: block;
}

#program .band-genre {
	display: block;
	margin-left: 0;
}

/* BANDS */

.band {
	margin: 20px 0 2px 0;
	padding: 0px;
	display: block;
}

.band .band-section {
	padding: 0;
	display: block;
	clear: both;
}

.band .band-name {
	margin-top: 5px;
}

.band img {
	margin: 0;
}

.band.right-aligned .band-img {
	float: right;
	clear: both;
}

/* KONTAKT */

.place-2-cols {
	display: block;
}

.place-2-cols .col {
	display: block;
}
