body {
	font-size: 100%;
}

#wrapper {
	background-size: contain;
}

.inner {
	padding: 15px;
}

header {
	padding: 0;
}

header #date {
	font-size: 150%;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

/* PROGRAM */
#program ul {
	padding-left: 0;
}

#program ul li {
	display: block;
}

#program time {
	display: block;
	width: auto;
}

#program .band-details {
	display: block;
}

#program .band-name {
	display: block;
}

#program .band-genre {
	display: block;
	margin-left: 0;
}

/* BANDS */

.band {
	margin: 20px 0 40px 0;
	padding: 0 0 20px 0;
	display: block;
}

.band .social {
	margin-left: 10px;
}

.band .social a {
	padding-left: 5px;
	padding-right: 5px;
}

.band .social a:hover {
	padding-left: 10px;
	padding-right: 10px;
}

.band .band-img {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.band:last-child {
	margin: 20px 0 0 0;
}

.band .band-section {
	padding: 0;
	display: block;
	clear: both;
	margin-left: 10px;
}

.band .band-name {
	margin-bottom: 15px;
	margin-left: 10px;
}

.band > .band-name {
	display: inline-block;
}

.band .band-section .band-name {
	display: none;
}

.band img {
	margin: 0;
}

.bands .band:nth-child(odd) .band-img {
	margin-left: 10px;
}

.bands .band:nth-child(even) .band-name,
.bands .band:nth-child(even) .band-description,
.bands .band:nth-child(even) .band-img {
	margin-right: 10px;
	flex-direction: row-reverse;
}

.bands .band:nth-child(even) .band-img {
	text-align: right;
}

.bands .band:nth-child(even) .band-img .social {
	margin-right: 10px;
}

.bands .band:nth-child(even) > .band-name {
	display: block;
}

/* KONTAKT */

.place-2-cols {
	display: block;
}

.place-2-cols .col {
	display: block;
}
