@font-face {
	font-family: 'Syncopate Bold';
	src: url('Syncopate-Bold.ttf');
}

:root {
	--white: #ffffff;
	--black: #000000;
	--blue: #0d1226;
	--red: #d73a27;
	--beige: #e9c094;
	--pink: #e07e5e;

}

body {
	margin: 0;
	padding: 0;
	background-image: url('img/bg.jpg?v=2024.0');
	background-color: var(--beige);
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-attachment: scroll;
	min-height: 100%;
	font-size: 18pt;
	font-family: 'Syncopate Bold', 'Arial Black', Gadget, sans-serif;
	text-transform: uppercase;
	color: var(--white);
}

#wrapper {
	margin: 0;
	padding: 0;
	background-image: url('img/drawing.png?v=2024.0');
	background-color: transparent;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

p {
	line-height: 125%;
}

.inner {
	display: block;
	position: relative;
	margin: auto;
	max-width: 1000px;
}

header {
	text-align: center;
}

.black-text,
footer p {
	color: var(--black);
}

.white-text,
h3, #wrapper p,
#program time,
#program .band-genre {
	color: var(--white);
	text-shadow: 2px 2px 2px var(--pink);
}

.blue-text,
h2,
.band-name,
.contact .name {
	color: var(--blue);
	text-shadow: 2px 2px 2px var(--beige), -2px 2px 2px var(--beige), 2px -2px 2px var(--beige), -2px -2px 2px var(--beige);
}

header .pretext {
	padding-top: 2rem;
	line-height: 150%;
	font-size: 100%;
}

header .announce {
	margin-top: 3rem;
	font-size: 200%;
}

header .title-image {
	margin-top: 1rem;
}

header .title-image img {
	max-width: 100%;
}

header .announce-date {
	font-size: 200%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

header .announce-location {
	margin-bottom: 4rem;
}

.invisible {
	display: none;
}

/* LINKS */
a,
a:visited,
a:active {
	color: var(--white);
	text-decoration: none;
	text-shadow: 2px 2px 2px var(--red);
}

a:hover {
	color: var(--red);
	text-decoration: none;
	text-shadow: 2px 2px 2px var(--white);
}

.black
{
	color: black;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 5px 0;
}

h1, h2 {
	text-align: left;
}

hr, h2 {
	margin-top: 50px;
}

header #date {
	font-size: 200%;
}

.text-large {
	font-size: 150%;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 100%;
}

.section-header {
	margin-top: 50px;
}

section {
	margin-top: 20px;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

/* PROGRAM */

#program ul {
	list-style-type: none;
}

#program ul li {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-top: 10px;
	padding-bottom: 10px;
}

#program time {
	display: inline-block;
	width: 5ch;
	margin-bottom: 5px;
}

#program .band-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#program .band-details .band-genre {
	margin-left: 0;
}

#program .band-name {
	font-size: 150%;
}

#program .band-genre {
	margin-left: 1ch;
}

ul.with-paragraph {
	margin: 0;
}

/* BANDS */

.band {
	margin: 40px 0 10px 0;
	padding: 10px;
	display: flex;
	text-align: left;
	flex-direction: row;
}

.band .band-name {
	display: inline-block;
	margin: 0;
	font-weight: bold;
}

.band > .band-name {
	display: none;
}

.band img {
	margin-right: 10px;
	margin-left: 10px;
	width: 150px;
	height: 100px;
}

.band .band-section,
.band img {
	display: inline-block;
	border-radius: 5px;
}

.band .band-section {
	padding: 0px 10px 10px 10px;
}

.band .band-description {
	display: block;
}

.bands .band:nth-child(even) {
	text-align: right;
	flex-direction: row-reverse;
}

.band .social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.band .social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-decoration: none;
	font-size: 0;
	line-height: 0;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: var(--beige);
	transition: padding 0.5s, margin 0.5s;
	border-radius: 50%;
	box-shadow: 0 0 8px 4px var(--beige);
}

.band .social a:hover {
	padding: 5px;
	margin: 0;
}

.band .social .yt {
	background-image: url('img/yt.svg');
}

.band .social .fb {
	background-image: url('img/fb.svg');
}

.band .social .ig {
	background-image: url('img/ig.svg');
}

.band .social .web {
	background-image: url('img/web.png');
}

#bottom {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

.image-preview {
	cursor: zoom-in;
	max-width: 100%;
}

.image-preview img {
	max-width: 100%;
	border: solid 4px #ffeed3;
}

.image-view {
	background-color: white;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	cursor: zoom-out;
}

/* CONTACT */

.place-2-cols {
	display: flex;
	flex-direction: row;
}

.place-2-cols .col {
	flex: 1;
}

.contact {
	text-align: center;
}

.contact .col {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contact .name {
	font-size: 125%;
}

/* FOOTER */

footer {
	font-size: 80%;
	text-align: center;
	background-color: white;
	color: black;
	padding-top: 1rem;
}

footer img.sponsors {
	width: 100%;
}
