@font-face {
	font-family: 'Syncopate Bold';
	src: url('Syncopate-Bold.ttf');
}

:root {
	--white: #ffffff;
	--black: #000000;
	--blue: #0d1226;
	--red: #d73a27;
	--dark-red: #b51d13;
	--beige: #e9c094;
	--light-beige: #ffeed4;
	--pink: #e07e5e;

	--text-blur: 3px;
	--text-shadow-offset: 2px;
	--text-shadow-offset-negative: -2px;

	--text-blur-small: 1px;
	--text-shadow-offset-small: 1px;
	--text-shadow-offset-negative-small: -1px;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	/*background-image: url('img/bg.jpg?v=2024.0');*/
	background-color: var(--dark-red);
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-attachment: scroll;
	min-height: 100%;
	font-size: 18pt;
	font-family: 'Syncopate Bold', 'Arial Black', Gadget, sans-serif;
	text-transform: uppercase;
	color: var(--white);
}

p, .pretext {
	line-height: 150%;
}

#wrapper {
	margin: 0;
	padding: 0;
	-background-image: url('img/drawing.png?v=2024.0');
	background-color: transparent;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

.inner {
	display: block;
	position: relative;
	margin: auto;
	max-width: 1000px;
}

header {
	text-align: center;
}

.black-text,
footer p {
	color: var(--black);
}

.white-text,
.primary-text,
h3, #wrapper p,
#program time,
#program .band-genre {
	color: var(--white);

}

.blue-text,
h2,
.band-name,
.contact .name {
	color: var(--blue);
	text-shadow:
		var(--text-shadow-offset) 0 var(--text-blur) var(--light-beige),
		0 var(--text-shadow-offset) var(--text-blur) var(--light-beige),
		0 var(--text-shadow-offset-negative) var(--text-blur) var(--light-beige),
		var(--text-shadow-offset-negative) 0 var(--text-blur) var(--light-beige),
		var(--text-shadow-offset-negative) var(--text-shadow-offset-negative) var(--text-blur) var(--light-beige),
		var(--text-shadow-offset) var(--text-shadow-offset) var(--text-blur) var(--light-beige),
		var(--text-shadow-offset-negative) var(--text-shadow-offset) var(--text-blur) var(--light-beige),
		var(--text-shadow-offset) var(--text-shadow-offset-negative) var(--text-blur) var(--light-beige);
}

#artists .band-name,
.contact .name {
	text-shadow:
		var(--text-shadow-offset-small) 0 var(--text-blur-small) var(--light-beige),
		0 var(--text-shadow-offset-small) var(--text-blur-small) var(--light-beige),
		0 var(--text-shadow-offset-negative-small) var(--text-blur-small) var(--light-beige),
		var(--text-shadow-offset-negative-small) 0 var(--text-blur-small) var(--light-beige),
		var(--text-shadow-offset-negative-small) var(--text-shadow-offset-negative-small) var(--text-blur-small) var(--light-beige),
		var(--text-shadow-offset-small) var(--text-shadow-offset-small) var(--text-blur-small) var(--light-beige),
		var(--text-shadow-offset-negative-small) var(--text-shadow-offset-small) var(--text-blur-small) var(--light-beige),
		var(--text-shadow-offset-small) var(--text-shadow-offset-negative-small) var(--text-blur-small) var(--light-beige);
}

header .pretext {
	padding-top: 2rem;
	font-size: 100%;
}

header .announce {
	margin-top: 3rem;
	font-size: 200%;
}

header .title-image {
	margin-top: 1rem;
}

header .title-image img {
	max-width: 100%;
}

header .announce-date {
	font-size: 200%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

header .announce-location {
	margin-bottom: 4rem;
}

.invisible {
	display: none;
}

/* LINKS */
a,
a:visited,
a:active {
	color: var(--white);
	text-decoration: underline;
}

a:hover {
	color: var(--red);
	text-decoration: none;
	text-shadow: 2px 0 3px var(--light-beige), 0 2px 3px var(--light-beige), 0 -2px 3px var(--light-beige), -2px 0 3px var(--light-beige);
}

a.email {
	text-decoration: none;
}

.black
{
	color: black;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 5px 0;
}

h1, h2 {
	text-align: left;
}

hr, h2 {
	margin-top: 50px;
}

header #date {
	font-size: 200%;
}

.text-large {
	font-size: 150%;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 100%;
}

.section-header {
	margin-top: 3rem;
}

section h3 {
	margin-top: 2rem;
}


section {
	margin-top: 20px;
}

.align-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/* PROMO */

#promo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.promo-video {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem;
}

.promo-video h4 {
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.video-container {
    position: relative;
    width: 750px;
	aspect-ratio: 16 / 9; 
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PROGRAM */

#program ul {
	list-style-type: none;
}

#program .program-item {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 15px;
}

#program .program-time {
	display: flex;
	width: 7rem;
	min-width: 7rem;
}

#program .band-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#program .band-name {
	font-size: 150%;
	padding-bottom: 5px;
}

#program .band-name a,
#program .band-name a:visited,
#program .band-name a:active {
	color: var(--blue);
	text-decoration: none;
}

#program .band-name a:hover {
	color: var(--red);
	text-decoration: none;
	text-shadow: 2px 0 3px var(--light-beige), 0 2px 3px var(--light-beige), 0 -2px 3px var(--light-beige), -2px 0 3px var(--light-beige);
}

ul.with-paragraph {
	margin: 0;
}

/* BANDS */

.band {
	margin: 40px 0 10px 0;
	padding: 10px;
	display: flex;
	text-align: left;
	flex-direction: row;
}

.band .band-name {
	display: inline-block;
	margin: 0;
	font-weight: bold;
}

.band > .band-name,
.band > .band-program-link {
	display: none;
}

.band img {
	margin-right: 10px;
	margin-left: 10px;
	width: 150px;
	height: 100px;
}

.band .band-section,
.band img {
	display: inline-block;
	border-radius: 5px;
}

.band .band-section {
	padding: 0px 10px 10px 10px;
}

.band .band-description {
	display: block;
}

.bands .band:nth-child(even) {
	text-align: right;
	flex-direction: row-reverse;
}

.band .social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.band .social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-decoration: none;
	font-size: 0;
	line-height: 0;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: var(--beige);
	transition: padding 0.5s, margin 0.5s;
	border-radius: 50%;
	box-shadow: 0 0 8px 4px var(--beige);
}

.band .social a:hover {
	padding: 5px;
	margin: 0;
}

.band .social .yt {
	background-image: url('img/icons/yt.svg');
}

.band .social .fb {
	background-image: url('img/icons/fb.svg');
}

.band .social .ig {
	background-image: url('img/icons/ig.svg');
}

.band .social .web {
	background-image: url('img/icons/web.png');
}

#bottom {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

.image-preview {
	cursor: zoom-in;
	max-width: 100%;
}

.image-preview img {
	max-width: 100%;
	border: solid 4px #ffeed3;
}

.image-view {
	background-color: white;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	cursor: zoom-out;
}

/* CONTACT */

.place-2-cols {
	display: flex;
	flex-direction: row;
}

.place-2-cols .col {
	flex: 1;
}

.contact {
	text-align: center;
}

.contact .col {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contact .name {
	font-size: 125%;
}

/* FOOTER */

footer {
	font-size: 80%;
	text-align: center;
	background-color: var(--light-beige);
	color: black;
	padding-top: 1rem;
}

footer img.sponsors {
	width: 100%;
}
