@font-face {
	font-family: 'Syncopate Bold';
	src: url('Syncopate-Bold.ttf');
}

:root {
	--white: #ffffff;
	--black: #000000;
	--light-blue: #a4beb1;
	--blue: #4da1a3;
	--dark-blue: #173a56;
	--red: #d73a27;
	--dark-red: #690f45;
	--beige: #f9d9c0;
	--light-beige: #fdfff2;
	--pink: #ffb5ba;
	--orange: #f77d4a;

	--text-blur: 3px;
	--text-shadow-offset: 2px;
	--text-shadow-offset-negative: -2px;

	--text-blur-small: 1px;
	--text-shadow-offset-small: 1px;
	--text-shadow-offset-negative-small: -1px;

	--bg-color: var(--pink);
	--bg-color-end: var(--blue);
	--text-color: var(--dark-blue);
	--text-secondary-color: var(--light-beige);
	--h2-color: var(--dark-red);
	--h2-shadow-color: var(--light-beige);
	--a-color: var(--dark-red);
	--a-hover-color: var(--white);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	-background-image: linear-gradient(var(--bg-color), var(--bg-color-end));
	-background-image: url('img/bg.jpg?v=2024.0');
	background-color: var(--bg-color);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100%;
	font-size: 18pt;
	font-family: 'Syncopate Bold', 'Arial Black', Gadget, sans-serif;
	text-transform: uppercase;
	color: var(--text-color);
}

p, .pretext {
	line-height: 150%;
}

#wrapper {
	margin: 0;
	padding: 0;
	background-image: url('img/drawing.png?v=2024.0');
	background-color: transparent;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

.inner {
	display: block;
	position: relative;
	margin: auto;
	max-width: 1000px;
}

header {
	text-align: center;
}

.black-text,
footer p {
	color: var(--black);
}

.secondary-text {
	color: var(--text-secondary-color);
}

h2, h4 {
	color: var(--h2-color);
	text-shadow:
		var(--text-shadow-offset) 0 var(--text-blur) var(--h2-shadow-color),
		0 var(--text-shadow-offset) var(--text-blur) var(--h2-shadow-color),
		0 var(--text-shadow-offset-negative) var(--text-blur) var(--h2-shadow-color),
		var(--text-shadow-offset-negative) 0 var(--text-blur) var(--h2-shadow-color),
		var(--text-shadow-offset-negative) var(--text-shadow-offset-negative) var(--text-blur) var(--h2-shadow-color),
		var(--text-shadow-offset) var(--text-shadow-offset) var(--text-blur) var(--h2-shadow-color),
		var(--text-shadow-offset-negative) var(--text-shadow-offset) var(--text-blur) var(--h2-shadow-color),
		var(--text-shadow-offset) var(--text-shadow-offset-negative) var(--text-blur) var(--h2-shadow-color);
}

header .pretext {
	padding-top: 2rem;
	font-size: 100%;
}

header .announce {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 200%;
}

header .announce small {
	color: var(--text-secondary-color);
}

header .title-image {
	margin-top: 1rem;
}

header .title-image img {
	max-width: 100%;
}

header .announce-date {
	font-size: 200%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

header .announce-location {
	margin-bottom: 4rem;
}

.invisible {
	display: none;
}

/* LINKS */
a,
a:visited,
a:active {
	color: var(--a-color);
	text-decoration: none;
}

a:hover {
	color: var(--a-hover-color);
	text-decoration: none;
}

a.email {
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 5px 0;
}

h1, h2, h3, h4 {
	text-align: left;
	color: var(--h2-color);
}

hr, h2 {
	margin-top: 50px;
}

h4 {
	font-size: 125%;
	padding-bottom: 1rem;
}

header #date {
	font-size: 200%;
}

.text-large {
	font-size: 150%;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 100%;
}

.section-header {
	margin-top: 3rem;
}

section h3 {
	margin-top: 2rem;
}

section {
	margin-top: 20px;
}

.align-right {
	text-align: right;
}

.align-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.text-center {
	text-align: center;
}

/* PROMO */

.intro-video {
	display: flex;
	justify-content: center;
}

.intro-video .video-container {
	width: 560px !important;
	min-width: 560px !important;
	max-width: 560px !important;
}

#promo {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.promo-video {
	margin-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border-bottom: 1px solid var(--text-color);
}

.promo-video .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	width: 100%;
	gap: 1rem;
}

.promo-video .row .video-container {

}

.promo-video:nth-child(even) .row {
	-flex-direction: row-reverse;
}

.promo-video .row > div > p:first-child {
	margin-top: 0;
}

.promo-video .row > div > p:last-child {
	margin-bottom: 0;
}

.video-container {
	border-radius: 10px;
    position: relative;
    width: 360px !important;
    min-width: 360px !important;
    max-width: 360px !important;
	aspect-ratio: 16 / 9;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PROGRAM */

#program ul {
	list-style-type: none;
}

#program .program-item {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 15px;
}

#program .program-time {
	display: flex;
	width: 7rem;
	min-width: 7rem;
}

#program .band-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#program .band-name {
	font-size: 150%;
	padding-bottom: 5px;
	color: var(--orange);
}

ul.with-paragraph {
	margin: 0;
}

/* BANDS */

.band {
	margin: 40px 0 10px 0;
	padding: 10px;
	display: flex;
	text-align: left;
	flex-direction: row;
}

.band .band-name {
	color:var(--orange);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0;
	font-weight: bold;
}

.band .band-name .secondary-text {
	color: var(--text-color);
}

.band > .band-name,
.band > .band-program-link {
	display: none;
}

.band img {
	margin-right: 10px;
	margin-left: 10px;
	width: 150px;
	height: 100px;
}

.band .band-section,
.band img {
	display: inline-block;
	border-radius: 5px;
}

.band .band-section {
	padding: 0px 10px 10px 10px;
}

.band .band-description {
	display: block;
}

.bands .band:nth-child(even) {
	text-align: right;
	flex-direction: row-reverse;
}

.bands .band:nth-child(even) .band-name {
	justify-content: end;
}

.band .social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.band .social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-decoration: none;
	font-size: 0;
	line-height: 0;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: var(--beige);
	transition: padding 0.5s, margin 0.5s;
	border-radius: 50%;
	box-shadow: 0 0 8px 4px var(--beige);
}

.band .social a:hover {
	padding: 5px;
	margin: 0;
}

.band .social .yt {
	background-image: url('img/icons/yt.svg');
}

.band .social .fb {
	background-image: url('img/icons/fb.svg');
}

.band .social .ig {
	background-image: url('img/icons/ig.svg');
}

.band .social .web {
	background-image: url('img/icons/web.png');
}

#bottom {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

.image-preview {
	cursor: zoom-in;
	max-width: 100%;
}

.image-preview img {
	max-width: 100%;
	border: solid 4px #ffeed3;
}

.image-view {
	background-color: white;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	cursor: zoom-out;
}

/* CONTACT */

.place-2-cols {
	display: flex;
	flex-direction: row;
}

.place-2-cols .col {
	flex: 1;
}

.contact {
	text-align: center;
}

.contact .col {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contact .name {
	font-size: 125%;
}

/* FOOTER */

footer {
	font-size: 80%;
	text-align: center;
	background-color: var(--light-beige);
	color: black;
	padding-top: 1rem;
}

footer img.sponsors {
	width: 100%;
}
