@media (max-width: 1000px) {

	body {
		font-size: 12pt;
	}

	#wrapper {
		background-size: contain;
	}

	.inner {
		padding-left: 15px;
		padding-right: 15px;
	}

	header {
		padding: 0;
	}

	header .pretext {
		padding-top: 1rem;
		font-size: 80%;
	}

	header .announce {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 120%;
	}

	header .announce-location {
		font-size: 100%;
		margin-bottom: 2rem;
	}

	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 100%;
	}

	/* PROGRAM */
	#program ul {
		padding: 0;
		margin: 0;
	}

	#program .program-time {
		width: 5rem;
		min-width: 5rem;
	}

	/* BANDS */
	.band {
		margin: 0;
		padding: 0 0 20px 0;
		display: block;
	}

	.band .social {
		margin-left: 10px;
	}

	.band .social a {
		padding-left: 5px;
		padding-right: 5px;
	}

	.band .social a:hover {
		padding-left: 10px;
		padding-right: 10px;
	}

	.band .band-img {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.band:last-child {
		margin: 20px 0 0 0;
	}

	.band .band-section {
		padding: 0;
		display: block;
		clear: both;
		margin-left: 10px;
	}

	/* band trick */

	.band .band-name,
	.band > .band-program-link {
		margin-bottom: 15px;
		margin-left: 10px;
	}

	.band > .band-name,
	.band > .band-program-link {
		display: block;
	}

	.band .band-section .band-name,
	.band .band-section .band-program-link {
		display: none;
	}

	.bands .band:nth-child(even) > .band-name,
	.bands .band:nth-child(even) > .band-program-link {
		display: block;
	}

	.bands .band:nth-child(even) .band-name,
	.bands .band:nth-child(even) .band-program-link,
	.bands .band:nth-child(even) .band-description,
	.bands .band:nth-child(even) .band-img {
		margin-right: 10px;
		flex-direction: row-reverse;
	}

	.bands .band:nth-child(even) .band-img {
		text-align: right;
	}

	.bands .band:nth-child(even) .band-img .social {
		margin-right: 10px;
	}

	.band img {
		margin: 0;
	}

	.bands .band:nth-child(odd) .band-img {
		margin-left: 10px;
	}

	/* KONTAKT */
	.contact {
		margin-top: 0;
		margin-bottom: 0;
	}

	.place-2-cols {
		display: block;
	}

	.place-2-cols .col {
		display: block;
	}

	/* PROMO */

	.video-container {
		width: auto !important;
		min-width: initial !important;
		max-width: initial !important;
	}

	#bottom {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}


}

@media (max-width: 600px) or (max-height: 600px) {

	.video-container iframe {
		gap: 0;
		justify-content: space-around;
		width: 120px !important;
		height: 213px !important;
	}

	/* SPONSORS */

	section.sponsors {
		margin-top: 3rem;
		padding-top: 1rem;
		text-align: center;
	}

	.sponsors .sponsors-list .sponsor {
		margin: 1rem;
	}

	.sponsors .sponsors-list .sponsor img {
		max-width: 100px;
		width: auto;
		height: auto;
	}

}
