@font-face {
	font-family: "Syncopate Bold";
	src: url("Syncopate-Bold.ttf");
}

body {
	margin:0;
	padding:0;
	background-image:url(img/bg.jpg);
	background-color: #e38533;
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-attachment: scroll;
	min-height:100%;
	font-size:150%;
	font-family: "Syncopate Bold", "Arial Black", Gadget, sans-serif;
	text-transform:uppercase;
	padding-top:10px;
}

p {
	line-height: 125%;
}

.inner {
	display:block;
	position: relative;
	margin:auto;
	max-width:1000px;
}

body, .white, .primary-color,
.band .band-description {
	color:white;
}

.secondary-color, .red,
.band-name,
h2.section-header,
#contact h3,
section h4 {
	color:#96121c;
}

.black, h1,
#program time {
	color: black;
}

h1, h2, h3, h4 {
	margin:0;
	padding:5px 0;
}

h1, h2 {
	text-align:left;
}

header #date {
	font-size:200%;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 100%;
}

a,
a:visited,
a:hover,
a:active {
	color:#96121c;
	text-decoration:underline;
}

a:hover {
	color: pink;
}

.section-header {
	margin-top:40px;
}

section {
	margin-top:20px;
}

.align-right {
	text-align: right;
}

/* PROGRAM */

#program ul {
	list-style-type: none;
}

#program ul li {
	display:flex;
	flex-direction: row;
	align-items: baseline;
	padding-top: 5px;
	padding-bottom: 5px;
}

#program time {
	display: inline-block;
	width: 5ch;
}

#program .band-details {
	flex: 1;
	display: inline-block;
}

#program .band-name {
	font-size: 150%;
}

#program .band-genre {
	margin-left: 1ch;
}

ul.with-paragraph {
	margin:0;
}

/* BANDS */

.band {
	margin:40px 0 10px 0;
	padding:10px;
	display:flex;
	text-align:left;
	flex-direction:row;
}

.band .band-name {
	display: inline-block;
	margin:0;
	font-weight:bold;
}

.band img {
	width:150px;
	height:100px;
	margin-right:10px;
	margin-left:5px;
}

.band .band-section,
.band img {
	display:inline-block;
	border-radius: 5px;
}

.band .band-section {
	padding:0px 10px 10px 10px;
}

.band .band-description {
	display:block;
}

.bands .right-aligned {
	text-align:right;
}

.bands .right-aligned {
	flex-direction:row-reverse;
}

.bands .right-aligned img {
	margin-left:10px;
	margin-right:5px;
}

#bottom {
	margin-top: 1rem;
	padding-top: 28%;
	padding-bottom: 3.875%;
	background-image:url(img/drawing.png);
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
}

#bottom a,
#bottom a:visited,
#bottom a:hover,
#bottom a:active {
	color:white;
	font-size: 80%;
	text-decoration:none;
	display: block;
	--padding-bottom: 50px;
}

/* CONTACT */

.place-2-cols {
	display: flex;
	flex-direction: row;
}

.place-2-cols .col {
	flex: 1;
}

#contact {
	text-align: center;
}

#contact .name {
	font-size: 125%;
}

#contact .contact a,
#contact .contact a:active,
#contact .contact a:visited,
#contact .contact a:hover {
	display: block;
	color: black;
	text-decoration: none;
}

#contact h3,
#contact .name {
	margin-top: 2rem;
}

/* FOOTER */

footer {
	font-size: 80%;
	text-align:center;
	--margin-top:20px;
	border-top:solid 3px black;
	background-color: white;
	color: black;
}

footer img.sponsors {
	width: 100%;
}
