@font-face {
	font-family: coolvetica;
	src: url('fonts/coolvetica.eot');
	src: local('☺'), url('../fonts/coolvetica.woff') format('woff'), url('../fonts/coolvetica.ttf') format('truetype'), url('../fonts/coolvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding-top:0;
	padding-bottom: 0;	
	font-size:20px;
	line-height: 133%;
	font-family: coolvetica, Arial Heavy, Arial, sans-serif;
	color:#8e007e;
	letter-spacing: 0.5px;	
}

.site-wrapper {
  display: table;
  width: 100%;
  padding:10px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align:left;
}

@media (min-width: 768px) { 
  
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) { 
  .cover-container {
    width: 700px;
  }
}

p {
	text-indent:1cm;
}

h1 {
	font-size:200%;
	font-weight:bold;
}

.green {
	color:#85cfbe;
}

.pink {
	color: #c58dbe;
}

.lightBlue {
	color:#96b3c5;
}

.orange {
	color:#f78f1e;
}

a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
	outline:0;
}

.facebook-link a {
	width:5cm;
	padding:3mm;
	background-color:#3a5795;
	line-height:90%;
	margin:auto;
	display:block;
	border-radius:4px;
}

.facebook-link a, .facebook-link a:hover, .facebook-link a:active, .facebook-link a:visited, .facebook-link a:focus {
	color:White;
}

.facebook-link a .small {
	font-size:80%;
	color:LightGray;
}

